body{
    background-image: url('JDMCarLogo.jpg');
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
nav{
    background-color: rgb(205, 1, 150);
    overflow: hidden;
    padding: 20px 0;
    margin-bottom: 20px 0;
    align-items: left to right;
  }

    .button{
        background-color: rgb(205, 1, 150);
        color: white;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

picture{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

section{
    margin: 20px 0;
}