body{
    background-image: url('J.jpg');
    background-color: #03d0f4ba;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
nav{
    background-color: rgb(5, 122, 217);
    overflow: hidden;
    padding:  left 20px 0;
    padding: right 20px 0;
    margin-bottom: 0;
    align-items: left to right;
  }

    .button{
        background-color: rgb(134, 17, 89);
        color: white;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        align-items: left to right;
    }

picture{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

section{
    margin: 20px 0;
}